# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 055f51942b0af707ac6c35c2accb8c90b0cc15c0a7649433c54d8d1ac94337f031462b96d03da2e6ae073589713399c2b946d44c601248e1fe1aa280d4da8e09

  florensia:
    auto_update:
      update_server_root_url: http://patch.florensia-online.eu/LIVE/Patch/Update
      npc_files:
        - MonsterChar
        - CitizenChar
        - MerchantChar
        - GwChar
        - GuardChar